data/workflows/official_n8n/template_6520.json
{
  "template_id": 6520,
  "template_name": "Monitor Egyptian Gold & Currency Prices with Telegram Notifications",
  "source": "n8n_official_api",
  "id": "U4Fwm0qoedJIRzw4",
  "meta": {
    "instanceId": "c92a0c76586da37fb3ac600956b62e842bfa4bd5f52acc7feb4e8a6e75ca1381",
    "templateCredsSetupCompleted": true
  },
  "name": "MS_E_DAHAB",
  "tags": [],
  "nodes": [
    {
      "id": "a361f253-cd88-4694-bd75-40a69a5acaa3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -16,
        16
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "596cc3db-a89b-4562-aec3-32cbff60c977",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        416,
        0
      ],
      "parameters": {
        "url": "https://edahabapp.com/",
        "options": {}
      },
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "id": "7a2d2504-4e40-4996-8a70-abfa6994cefb",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1040,
        0
      ],
      "webhookId": "73040087-38b1-420d-af03-1daf30e79342",
      "parameters": {
        "text": "={{ $json.telegram_message }}",
        "chatId": "={{ $env.telegram_chat_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "52200b7f-2e76-4907-9ed8-50cb921d8ce6",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        624,
        0
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "gold_prices",
              "cssSelector": "section:first-of-type .grid div:first-child table",
              "returnValue": "html"
            },
            {
              "key": "currency_rates",
              "cssSelector": "section:first-of-type .grid div:nth-child(2) table",
              "returnValue": "html"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e2f5a0fd-d422-42ff-a393-74b553f408db",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        0
      ],
      "parameters": {
        "jsCode": "// This code uses Regular Expressions and adds emojis and better formatting.\n\n// Helper function to get an emoji for a currency name\nfunction getCurrencyEmoji(currencyName) {\n  if (currencyName.includes('دولار')) return '🇺🇸';\n  if (currencyName.includes('يورو')) return '🇪🇺';\n  if (currencyName.includes('ريال')) return '🇸🇦';\n  if (currencyName.includes('درهم')) return '🇦🇪';\n  if (currencyName.includes('استرليني')) return '🇬🇧';\n  return '💰'; // A default emoji\n}\n\n// Helper function to remove all HTML tags from a string\nfunction cleanText(htmlString) {\n  if (!htmlString) return '';\n  return htmlString.replace(/<[^>]*>/g, '').trim();\n}\n\n\n// --- Main Script ---\nconst goldHtml = items[0].json.gold_prices;\nconst currencyHtml = items[0].json.currency_rates;\nlet messageLines = [];\n\n// --- 1. Process Gold Prices ---\nmessageLines.push(\"🥇 *أسعار الذهب اليوم في مصر* 🥇\");\nmessageLines.push(\"〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️\");\n\nconst goldRows = goldHtml.match(/<tr.*?>.*?<\\/tr>/gs) || [];\n\nfor (const row of goldRows) {\n  const cells = row.match(/<td.*?>.*?<\\/td>/gs) || [];\n  \n  if (cells.length > 0) {\n    const type = cleanText(cells[0]);\n    let emoji = '⚖️';\n    if (type.includes('الجنيه الذهب')) emoji = '🪙';\n    if (type.includes('العالمي')) emoji = '🌍';\n\n    if (cells.length > 2) {\n      const sellPrice = cleanText(cells[1]).replace(' جنيه', '');\n      const buyPrice = cleanText(cells[2]).replace(' جنيه', '');\n      messageLines.push(`${emoji} *${type}:* شراء \\`${buyPrice}\\` / بيع \\`${sellPrice}\\``);\n    } else if (cells.length === 2) {\n      const priceText = cleanText(cells[1]);\n      const price = priceText.replace(/[^0-9.]/g, ''); // Extract only numbers\n      const currency = priceText.includes('دولار') ? 'دولار' : 'جنيه';\n      messageLines.push(`${emoji} *${type}:* \\`${price}\\` ${currency}`);\n    }\n  }\n}\n\n// --- 2. Process Currency Rates ---\nmessageLines.push(\"\\n-----------------------------------\\n\");\nmessageLines.push(\"💸 *أسعار العملات (السوق الرسمي)* 💸\");\nmessageLines.push(\"〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️\");\n\nconst currencyRows = currencyHtml.match(/<tr.*?>.*?<\\/tr>/gs) || [];\n\nfor (const row of currencyRows) {\n  const cells = row.match(/<td.*?>.*?<\\/td>/gs) || [];\n  \n  if (cells.length === 2) {\n    const currencyName = cleanText(cells[0]);\n    const currencyPrice = cleanText(cells[1]).replace(' جنيه', '');\n    const emoji = getCurrencyEmoji(currencyName);\n    messageLines.push(`${emoji} *${currencyName}:* \\`${currencyPrice}\\` جنيه`);\n  }\n}\n\n// --- 3. Add a Timestamp ---\nconst now = new Date();\nconst timeString = now.toLocaleTimeString('ar-EG', { timeZone: 'Africa/Cairo', hour: '2-digit', minute:'2-digit' });\nmessageLines.push(\"\\n`\" + `تحديث: ${timeString} بتوقيت القاهرة` + \"`\");\n\nconst finalMessage = messageLines.join('\\n');\n\nreturn [{\n  json: {\n    telegram_message: finalMessage\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "7d09a941-bd9d-4202-941f-29bb239ea03f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        192,
        16
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "91dddd01-0a73-4294-8dce-73b805499b12",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $now.hour }}",
              "rightValue": 10
            },
            {
              "id": "1e107caf-af95-4750-ae8e-879d0706b4f0",
              "operator": {
                "type": "number",
                "operation": "lte"
              },
              "leftValue": "={{ $now.hour }}",
              "rightValue": 22
            }
          ]
        }
      },
      "typeVersion": 2.2
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84f5a6ec-9ded-4f31-bb68-0fa8b75a8eb5",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}